* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px 'Arial', 'Microsoft Yahei';
    background-color: lightgray;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.cs {
    width: 850px;
    margin: 0 auto;
}
.header {
    height: 42px;
    margin: 30px auto;
}

.header .logo {
    float: left;
    width: 108px;
    height: 42px;
    background: lightskyblue;
}
.header .nav {
    float: left;
/*    line-height: 42px;*/
}
.header .nav li {
    float: left;
    height: 42px;
    line-height: 42px;
    margin: 0 15px;
}

.header .nav li a {
    display: block;
    margin: 0 10px;
    font-size: 18px;
    color: black;
}

.header .nav li a:hover {
    border-bottom: 1px solid green;
}

.header .search {
    float: left;
    width: 254px;
    height: 42px;
}
.header .search input {
    float: left;
    width: 200px;
    height: 30px;
    margin: 4px 0;
    border: 1px solid lightblue;
    padding-left: 12px;
}
.header .search button {
    width: 40px;
    height: 30px;
    margin: 4px 0;
    background: url('../images/search-icon.png') no-repeat center/40px 30px;
}

.header .user {
    float: right;
    height: 42px;
    line-height: 42px;
}

.bg-section {
    height: 200px;
    background-color: lightblue;
}

.bg-section .nav-list {
    float: left;
    width: 120px;
    height: 200px;
    background-color: rgba(0,0,0,.1);
}

.bg-section .banner {
    width: 850px;
    height: 200px;
    background-color: lightskyblue;
}

.bg-section .sub-nav {
    float: left;
    width: 80px;
    height: 120px;
    background-color: lightgreen;
}

.bg-section .my-courses {
    float: right;
    width: 80px;
    height: 120px;
    background-color: lightgreen;
}

.bg-section .nav-list li {
    margin: 10px 10px;
}
.bg-section .nav-list li a {
    font-size: 14px;
    color: white;
}
.bg-section .nav-list li a span {
    float: right;
}
.bg-section .nav-list li a:hover {
    color: blue;
}
